.container {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 100px 0.4fr auto;
  grid-template-areas:
    "sidebar search"
    "sidebar ad"
    "sidebar comments";
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  min-height: 100%;
  background-color: #f4f4f4;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

.comments {
  position: relative;

  background-color: white;
  border-radius: 35px;
  width: 75%;
  height: max-content;
  box-shadow: -7px 7px 20px rgba(0, 0, 0, 0.16);
}

.icon {
  background-color: #6a8145;
  width: 3%;
  position: absolute;
  border-radius: 50%;
  border-top-left-radius: 0;
  padding: 12px;
  top: 0;
  right: 0;

  &:hover {
    cursor: pointer;
    background-color: #596e37;
  }
}
